<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.coresuite.energyoffers</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/carminecavaliere/Desktop/express-app/staging-express/scripts/cron/update_energy_offers.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>15</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/carminecavaliere/Desktop/express-app/staging-express/storage/logs/energy_offers_import.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/carminecavaliere/Desktop/express-app/staging-express/storage/logs/energy_offers_import.err.log</string>
</dict>
</plist>
